<section class="contact-info-list custom-block lazy-container {{ block.className }}">
	<div class="container container-padding">
		<div class="wrapper">
				<h2 class="heading">{{ fields.heading }}</h2>
				<p class="description">{{ fields.description }}</p>

				<ul class="contact-list">
					<li class=><a href="tel:{{ fields.phone_number }}"><i class="icon-phone"></i> {{ fields.phone_number }}</a></li>
					<li class=><a href="mailto:{{ fields.email_address }}"><i class="icon-mail"></i> {{ fields.email_address }}</a></li>
				</ul>
		</div>
	</div>
</div>